/*//META{"name":"Reborn","description":"Phoenix Theme Bundle: Transparent, fully customizable theme with multiple addons","author":"Lil Monster","version":"1.0", "website":"https://discord.gg/TeRQEPb"}*//**/

/* IMPORT CSS FROM GITHUB */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css";
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!

Registered: Black Box Theme

===== CUSTOMIZABLE COLORS AND IMAGES =====
*/
:root { 
	--main-color: #ffffff;
  --hover-color: #ffffff;
  --background-image: url(https://66.media.tumblr.com/b55b3cb43d7b8b78cb13ed78f2925170/tumblr_okcp60AiJO1t75n0jo1_1280.png);
  --popup-background: url(https://66.media.tumblr.com/b55b3cb43d7b8b78cb13ed78f2925170/tumblr_okcp60AiJO1t75n0jo1_1280.png);
 }


/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CREDITS =====
URI
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
===== TROUBLESHOOTING =====
IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/
